fastapi
uvicorn[standard]
python-multipart

pydantic
pydantic-settings

langchain
langgraph
langchain-core
langchain-community
langchain-groq
langchain-tavily
python-dotenv
pillow
httpx
orjson

requests